.question__container {
    margin: 24px 0;
    flex: 1 1 auto;
}

.question__row {
    display: flex;
    background-color: #ECECF9;
    padding: 16px 0 16px 24px;
}

.question__row > span {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #2D2E46;
}

.question__question {
    flex: 1 1 30%;
}

.question__answer {
    flex: 1 1 30%;
}

.question__updated {
    flex: 1 1 30%;
}

.question__grade {
    flex: 1 1 10%;
}