.main{
    display: flex;
    width: 413px;
    height: 400px;
    margin: 50px auto;
}

.mainBlock {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 413px;
    height: 400px;
    top: 60px;
    background: #F9F9FE;
    border-radius: 8px;
    margin: 0 auto;

}

.text {
    font-size: 12px;
    width: 246px;
}

.input {
    box-shadow: 3px 2px 2px gray;
    width: 246px;
}

