.nav__container {
    display: flex;
    justify-content: center;
    margin-top: 5px
}

.nav__body {
    display: flex;
    margin-top: 5px;
    height: 30px;
    width: 700px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px;
    background-color: #262626;
}

.nav a{
    text-decoration: none;
    color: white;

}

a:hover {
    color: gold;
    border-radius: 5px;
}

.nav {
    background-color: #e74c3c;
    padding: 5px;
    border-radius: 5px;
}