
.silectPage{
    font-weight: bold;
    color: gold;
}

.paginator {

    display: flex;
    margin: 20px auto;
}

.pageNumber {
    padding: 2px;
    border: 1px solid gray;

}
.pageNumber:hover {
    cursor: pointer;
}


.active{
    padding: 2px;
    background-color: black;
    color: #F9F9FE;
    border: 1px solid gold;
}

