.loginContainer {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    height: 300px;
}

.mainBlock {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgotPasswordText {
    background-color: #D9D9F1;
    padding: 5px;
    border-radius: 5px;
    width: 65%;
    margin: 0 auto 20px auto;
    cursor: pointer;

}
.forgotPasswordText:hover{
    background-color: #0072e0;
    color: #D9D9F1;
}