.main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 413px;
    height: 400px;
    top: 60px;
    background: #F9F9FE;
    border-radius: 8px;

}

.error {
    color: red;
    border: 2px solid red;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px;
    width: 230px;
    margin: 0 auto;
}